@charset "UTF-8";
/*@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);*/

*{
/*
  border:solid 1px red;
  box-shadow: 1px 1px 1px red;
*/
}
html{
/*  background-color: rgba(255, 238, 180, 0.75);*/
/*  background-color: rgb(255, 254, 241);*/
}
body {
  font-family: "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴ Pro W3", "Meiryo", "メイリオ", "Noto Sans Japanese Regular", sans-serif;
/*  font-family: 'Sigmar One', cursive;*/
/*  font-family: 'Noto Sans Japanese', sans-serif;*/
  font-weight: 300;
  width: 100%;
  line-height: 1.6;
  color: #000;
}

/*main*/
main{
/*  height: 700px;*/
}
#mainpage{
  padding:1rem;
}

/*hr  点線*/
hr{
  border:none;
/*  border:1px dotted #fa0;*/
  border:1px dashed #fa0;
}

/**/
/*header*/

header {
  /*  border: 1px solid #edd;*/
/*  background-color: rgb(255, 255, 255);*/
/*  background-color: rgba(255, 238, 180, 0.75);*/
/*  background-color: rgb(255, 254, 241);*/
  width: 100%;
/*  background-color: rgba(255, 0, 0, 0.3);*/
/*
  background-image: url(../img/bg.jpg);
  background-attachment: fixed;
  background-size: cover;
*/
  padding: 0.5rem 0 0;
}
.header{
    text-shadow: 1px 1px 3px #fff;
/*    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);*/
}
header img{
  height: 80px;
  position:absolute;
  right: 2rem;
  top: 0.5rem;
}
h1 {
  padding-left: 1rem;
  font-size: 2.5rem;
  height: 80px;
  line-height:1.7;
}

a{
}

/*navi*/
.navi{
  padding: 0.5rem 0;
  width: 100%;
  overflow: hidden;
}
.navi ul{
  clear: both;
}
.navi li{
/*  display: inline-block;*/
  margin: 0 0.2rem;
  float: left;
}

.navi li a{
/*  color: #fff;*/
  color: #000;
  display: block;
  width: 130px;
  padding: 0.2rem 0.3rem;
  margin: 0.4rem 0.05rem;
  text-align: center;
  border-radius: 20px/20px;
}

/*navi n0*/
.navi li#n0 a:link,
.navi li#n0 a:visited{
  background-color: rgba(137, 0, 255, 0.44);
  transition: all 0.5s ease;
    border-top: 2px dashed #ddb2fa;
    border-bottom: 2px dashed #e6a6fa;
    box-shadow: 0 0 2px 2px #c841fa;
}
.navi li#n0 a:hover ,
.navi li#n0 a.now{
  background-color: rgba(154, 27, 247, 0.65);
  transition: all 0.5s ease;
}

/*navi n1*/
.navi li#n1 a:link,
.navi li#n1 a:visited{
  background-color: rgba(255, 0, 0, 0.3);
  transition: all 0.5s ease;
    border-top: 2px dashed #fee;
    border-bottom: 2px dashed #fdd;
    box-shadow: 0 0 2px 2px #f99;
}
.navi li#n1 a:hover ,
.navi li#n1 a.now{
  background-color: rgba(255, 0, 0, 0.6);
  transition: all 0.5s ease;
}

/*navi n2*/
.navi li#n2 a:link,
.navi li#n2 a:visited,
li#n2 a:link{
  background-color: rgba(255, 17, 153, 0.5);
    box-shadow: 0 0 3px 3px #f19;
  transition: all 0.5s ease;
    border-top: 2px dashed #fbc1ff;
    border-bottom: 2px dashed #fbc1ff;
}
.navi li#n2 a:hover ,
.navi li#n2 a.now{
  background-color: rgba(255, 17, 153,1);
  transition: all 0.5s ease;
}

/*navi n3*/
.navi li#n3 a:link,
.navi li#n3 a:visited,
li#n3 a:link{
  background-color: rgba(0, 177, 255, 0.5);
    box-shadow: 0 0 3px 3px #0bf;
  transition: all 0.5s ease;
    border-top: 2px dashed #2ef;
    border-bottom: 2px dashed #2ef;
}
.navi li#n3 a:hover ,
.navi li#n3 a.now{
  background-color: rgba(0, 177, 255, 1);
  transition: all 0.5s ease;
}

/*navi n4*/
.navi li#n4 a:link,
.navi li#n4 a:visited,
li#n4 a:link{
  background-color: rgba(220, 220, 0, 0.7);
    box-shadow: 0 0 3px 3px #f6f600;
  transition: all 0.5s ease;
    border-top: 2px dashed #ff0;
    border-bottom: 2px dashed #ff0;
}
.navi li#n4 a:hover ,
.navi li#n4 a.now{
  color: #665cd9;
  background-color: rgba(248, 248, 0, 1);
  transition: all 0.5s ease;
}

/*navi n5*/
.navi li#n5 a:link,
.navi li#n5 a:visited,
li#n5 a:link{
  background-color: rgba(15, 195, 15, 0.4);
    box-shadow: 0 0 3px 3px #0fc30f;
  transition: all 0.5s ease;
    border-top: 2px dashed #dcfddc;
    border-bottom: 2px dashed #dcfddc;
}
.navi li#n5 a:hover ,
.navi li#n5 a.now{
  background-color: rgba(15, 195, 15, 1);
  transition: all 0.5s ease;
}

/*navi n6*/
.navi li#n6 a:link,
.navi li#n6 a:visited,
li#n6 a:link{
  background-color: rgba(255, 136, 0, 0.5);
    box-shadow: 0 0 3px 3px #f80;
  transition: all 0.5s ease;
    border-top: 2px dashed #ffead1;
    border-bottom: 2px dashed #ffead1;
}
.navi li#n6 a:hover ,
.navi li#n6 a.now{
  background-color: rgba(255, 136, 0, 1);
  transition: all 0.5s ease;
}

/*navi n7*/
.navi li#n7 a:link,
.navi li#n7 a:visited,
li#n7 a:link{
  background-color: rgba(0, 0, 255, 0.5);
    box-shadow: 0 0 3px 3px #00c;
  transition: all 0.5s ease;
    border-top: 2px dashed #b2b2ff;
    border-bottom: 2px dashed #b2b2ff;
}
.navi li#n7 a:hover ,
.navi li#n7 a.now{
  background-color: rgba(0, 0, 240, 1);
  transition: all 0.5s ease;
}

/*navi n8*/
.navi li#n8 a:link,
.navi li#n8 a:visited,
li#n8 a:link{
  background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 3px 3px #999;
  transition: all 0.5s ease;
    border-top: 2px dashed #eee;
    border-bottom: 2px dashed #eee;
}
.navi li#n8 a:hover ,
.navi li#n8 a.now{
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease;
}
/*navi n9*/
.navi li#n9 a:link,
.navi li#n9 a:visited,
li#n9 a:link{
  background-color: #fff;
    box-shadow: 0 0 3px 3px #eee;
  transition: all 0.5s ease;
    border-top: 2px dashed #ccc;
    border-bottom: 2px dashed #ccc;
}
.navi li#n9 a:hover ,
.navi li#n9 a.now{
  background-color: rgba(204, 204, 204, 0.3);
  transition: all 0.5s ease;
}



.wrapper {
  width: 100%;
  clear: both;
  overflow: hidden;
}

.content {
  line-height: 2;
  width: 100%;
  padding: 1rem;
/*  padding-bottom: 2000px;*/
/*  margin-bottom: -2000px;*/
/*  background-color: rgb(0, 255, 0);*/
/*  background-color: rgba(0, 255, 0, 0.3);*/
/*  height: 100%;*/
}
.images{
  padding: 0 3rem;
  color: #f00;
}
.images img{
  width: 60%;
  display: block;
  margin: auto;
}

.bxslider{
  margin: 0;
  padding: 0;
}

#con{
/*  overflow: hidden;*/
  width: 100%;
}





#news{
/*  width: 30%;*/
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1rem;
}
#tweets{
/*  width: 55%;*/
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1rem;
}
#calend{
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1rem;
/*  width: 30%;*/
/*  margin: 0.5rem;*/
/*  display: block;*/
/*  float: left;*/
/*  margin: 0.5rem;*/
/*  padding: 0.5rem;*/
  background-color: #fcf;
    border-top: 2px dashed #f99;
    border-bottom: 2px dashed #f99;
    box-shadow: 0 0 2px 2px #c66;
  border-radius: 15px / 10px;
}
#calend img{
/*  width: 95%;*/
  height: 300px;
  margin: auto;
}

#news
{
/*  display: block;*/
/*  float: left;*/
/*  margin: 0.5rem;*/
/*  padding: 0.5rem;*/
  background-color: #9cf;
    border-top: 2px dashed #99f;
    border-bottom: 2px dashed #99f;
    box-shadow: 0 0 2px 2px #66c;
  border-radius: 15px / 10px;
}
#tweets
{
/*  display: block;*/
/*  float: left;*/
/*  margin: 0.5rem;*/
/*  padding: 0.5rem;*/
  background-color: #ff9;
    border-top: 2px dashed #dd0;
    border-bottom: 2px dashed #dd0;
    box-shadow: 0 0 2px 2px #ff0;
  border-radius: 15px / 10px;
}

.tw_img img{
  padding: 0.5rem;
  width: 300px;
}

#news h2
{
  font-weight: 400;
  color: #060;
/*  text-shadow: -1px -1px 1px #000;*/
  font-size: 1.2rem;
}
#news .all{
  font-size: 0.8rem;
  padding-left: 3rem;
}
#tweets h2
{
  font-weight: 400;
  color: #630;
/*  text-shadow: -1px -1px 1px #000;*/
  font-size: 1.2rem;
}

#tweets .all{
  font-size: 0.8rem;
  padding-left: 1rem;
}
/*
#news p,#tweets p
{
  padding-left: 1rem;
  color: #f00;
}
*/

.newsHr{
  border: #333 dotted 1px;
}
.newsTime{
  color: #00f;
  line-height: 1.2;
  font-size: 0.8rem;
}
.newsTime{
  padding: 0 0.5rem;
  margin: 0;
  line-height: 1.2;
  font-size: 0.8rem;
}
.newsTitle{
  padding: 0 0.5rem;
  margin: 0;
  line-height: 1.2;
  font-size: 0.8rem;
  text-indent: 0;
/*  color: #fff;*/
  color: #000;
}
.newsText{
/*  text-indent: 0.5rem;*/
  padding: 0 1rem;
  margin: 0;
  line-height: 1.2;
  font-size: 0.8rem;
  text-indent: 0;
}





/**/
/*footer*/

.footer{
  overflow: hidden;
}
.footer a{
  clear: both;
  display: block;
  text-align: center;
  width: 100%;
  padding: 0.5rem 0;
/*
  position: absolute;
  bottom: 0px;
*/
  /*  border-top: 1px #edd solid;*/
  background-color: rgb(255, 200, 200);
  /*  margin-top: 0px;*/
    border-top: 2px dashed #f66;
    border-bottom: 2px dashed #f66;
    box-shadow: 0 0 5px 5px #fcc;
}

.footer a:link,
.footer a:visited {
  /*  width:500px;*/
  color: #f00;
  transition: all 0.5s ease;
}

.footer a:hover {
  color: #333;
  transition: all 0.5s ease;
}

/* Map */
.map_ul{
  width: 100%;
}
.intro_map{
  width: 32%;
  height: 300px;
  margin-right: 0.5rem;
}

/* 紹介 */
.intro{
  line-height: 1.8;
  margin: 0.5rem;
  overflow:hidden;
}
.intro dl{
  margin-bottom: 0.5rem;
}
.intro dt{
  padding: 0.5rem;
/*  display: inline;*/
  width: 25rem;
  font-size:1.2rem;
  background-color: #ffacff;
   border-radius: 20px/20px;
    border-top: 2px dashed #19ac4c;
    border-bottom: 2px dashed #19ac4c;
    box-shadow: 0 0 2px 2px #ffb6fc;
}
.intro dd{
  padding: 0 0 0 0.8rem;
  line-height: 1.3;
}
.intro dd.ad{
  padding: 0.3rem;
  font-size: 1.1rem;
  color: #66f;
  line-height: 1.5;
}
.intro dd.bl{
  padding: 0.3rem;
  font-size: 1.1rem;
  color: #fa0;
  line-height: 1.5;
}
.intro .intro_app,
.intro .intro_int{
  width: 31%;
  min-width: 300px;
/*  height: 300px;*/
/*  max-height: 300px;*/
/*  background-color: #ccc;*/
}
.intro .intro_app{
  margin-right: 0.5rem;
}
ul.fl{
  width: 100%;
  clear: both;
}
ul.fl li{
  display: block;
  float: left;
}



#p_con{
  width: 100%;
  clear: both;
}
.img_left,
/*.profile,*/
.text_right{
/*  float: left;*/
}
.text_right{
/*  overflow: hidden;*/
}

#e_back{
  width: 9rem;
  padding: 0.3rem 0.5rem;
  margin: 0.5rem;
  text-align: center;
  font-size: 1.4rem;
  background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 3px 3px #ccc;
    border-top: 2px dashed #999;
    border-bottom: 2px dashed #999;
  border-radius: 10px;
  color: #333;
    text-shadow: 1px 1px 3px #ccc;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
#p_back{
  width: 9rem;
  padding: 0.3rem 0.5rem;
  margin: 0.5rem;
  text-align: center;
  font-size: 1.4rem;
  background-color: rgba(0, 177, 255, 0.5);
    box-shadow: 0 0 3px 3px #0bf;
    border-top: 2px dashed #2ef;
    border-bottom: 2px dashed #2ef;
  border-radius: 10px;
  color: #fff;
    text-shadow: 1px 1px 3px #fff;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
#p_back2{
  width: 9rem;
  padding: 0.3rem 0.5rem;
  margin: 0.5rem;
  text-align: center;
  font-size: 1.4rem;
  background-color: rgba(255, 255, 0, 0.3);
    box-shadow: 0 0 3px 3px #ff9;
    border-top: 2px dashed #ff6;
    border-bottom: 2px dashed #ff6;
  border-radius: 10px;
  color: #666;
    text-shadow: 1px 1px 3px #ccc;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
#p_back3{
  width: 9rem;
  padding: 0.3rem 0.5rem;
  margin: 0.5rem;
  text-align: center;
  font-size: 1.4rem;
  background-color: rgba(137, 0, 255, 0.3);
    box-shadow: 0 0 3px 3px #d899ff;
    border-top: 2px dashed #dc66ff;
    border-bottom: 2px dashed #d066ff;
  border-radius: 10px;
  color: #666;
    text-shadow: 1px 1px 3px #ccc;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.profile,
.event{
/*  display: block;*/
  width: 50%;
  float: left;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid #ccc;
    box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
#pr
.event{
  padding: 1rem;
  margin-left: -1rem;
}
#pr p,
#ev p{
/*  display: block;*/
  float: right;
  width: 35%;
/*  height: auto;*/
/*  background-color: rgba(0, 245, 255, 0.35);*/
  margin:1rem 4rem 0 0;
  padding: 0.5rem;
}

#wk1{
  padding: 1rem;
}
.works{
/*  width: 200px;*/
  height: 160px;
}


#site_comment{
  width: 80%;
  height: 6rem;
}





/*@media (max-width: 640px) {*/
@media (max-width: 1000px) {
  #p_back{
    font-size: 1rem;
    padding: 0.3rem;
  }
  #p_con{
/*    padding: 1rem;*/
  }
  .profile,
  .event{
    float: none;
    width: 90%;
  }
  #pr p,
  #ev p{
    padding: 0.5rem;
    width: 95%;
    float: none;
  }
  
}


/*test*/
h2,p,img,div{
/*  border:1px dotted #00f;*/
}


/*
.intro .intro_app{
  transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  margin: 0.5rem
}

.intro .intro_app img{
  margin: -0.5rem;
}
.intro .intro_int{
  transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
}
.intro .intro_int img{
  margin: 0.5rem;
}
*/

/*@media (max-width: 640px) {*/
@media (max-width: 1000px) {
  .wrapper,
  .content,
  body{
    float: none;
    width: 100%;
    margin: 0;
  }
  h1 {
    padding-left: 1rem;
    font-size: 2rem;
    height: 60px;
    line-height:1.7;
  }
  header img{
    height: 60px;
    position:absolute;
    right: 0.5rem;
    top: 0.5rem;
  }
    
  .navi li a{
/*    display: block;*/
    width: 50px;
  height: 2.5rem;
	display: table-cell;
	vertical-align: middle;
    margin: 0.3rem 0.1rem;
    padding: 0.3rem;
    font-size: 0.6rem;
  }
  .navi il#n3{
    margin:1rem;
  }
  
  .images{
    margin: 0;
    padding: 0 0rem;
  }
  .images img{
    width: 70%;
    padding: 0.1rem;
  }
  
  #con{
    width: 90%;
    margin: 0 auto;
  }
  #news ,#tweets,#calend{
    width: 90%;
    margin: 0.5rem 0;
    padding: 0.5rem;
  }
  #calend .linking{
    text-align: center;
  }
  #calend img{
    width: 250px;
  }
  .newsText{
  /*  text-indent: 0.5rem;*/
    padding-left: 1.5rem;
  }

  .content {
    padding: 0;
  }
  
  .intro dt{
  padding: 0.2rem;
  font-size: 1rem;
  width: 17rem;
  }
  .intro_map{
    width: 90%;
  }
  .intro .intro_app{
    margin: 0.5rem 0 0 0;
  }
  .intro .intro_app,
  .intro .intro_int{
    width: 90%;
    height: 90%;
  }
  
}


.tw_img img{
  width: 90%;
}

/*span*/
.ki{
  color:#000;
  background-color: #ff0;
  padding: 0.1rem;
}


